<div id="queries">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="title1">
          Have Any<br />
          Query
        </h2>
        <p class="description">
          Please fill up the form, if you have any queries.
        </p>
      </div>
      <div class="col-md-6">
        <form
          class="query-form"
          (ngSubmit)="onSubmit(queryForm.value)"
          #queryForm="ngForm"
        >
          <div class="form-title">
            <h4 class="title">Query form</h4>
          </div>
          <mat-form-field hideRequiredMarker appearance="outline">
            <mat-label>Full name</mat-label>
            <input
              type="text"
              pattern="[a-zA-Z ]*"
              matInput
              required
              #nameRef="ngModel"
              minlength="3"
              name="name"
              [(ngModel)]="fullName"
              [ngClass]="{
                'text-danger': nameRef.invalid && nameRef.touched
              }"
            />
          </mat-form-field>
          <ng-container *ngIf="nameRef.invalid && nameRef.touched">
            <div class="text-danger" *ngIf="nameRef.errors.required">
              You must enter a name.
            </div>
            <div class="text-danger" *ngIf="nameRef.errors.minlength">
              Please Enter atleast 3 charecters.
            </div>
            <div class="text-danger" *ngIf="nameRef.errors.pattern">
              Please Enter valid name.
            </div>
          </ng-container>
          <mat-form-field hideRequiredMarker appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              pattern=".+.@.+\..+"
              required
              name="email"
              ngModel
              [(ngModel)]="email"
              #emailControl="ngModel"
              [ngClass]="{
                'text-danger': emailControl.invalid && emailControl.touched
              }"
            />
          </mat-form-field>
          <ng-container *ngIf="emailControl.invalid && emailControl.touched">
            <div class="text-danger" *ngIf="emailControl.errors.required">
              You must enter an email
            </div>
            <div class="text-danger" *ngIf="emailControl.errors.pattern">
              please enter a valid email
            </div>
          </ng-container>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Leave a comment</mat-label>
            <textarea
              matInput
              placeholder="Ex. It makes me feel..."
              name="comment"
              [(ngModel)]="comment"
            ></textarea>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            [disabled]="queryForm.invalid"
            (click)="isShown = true"
          >
            Submit
          </button>
        </form>
        <app-confirm-dialog-box *ngIf="isShown" (dismiss)="isShown = false">
          <ng-container content>
            <div class="query-description">
              Your Query Has been received.<mat-icon>done</mat-icon>
            </div>
          </ng-container>
        </app-confirm-dialog-box>
      </div>
    </div>
  </div>
</div>
