<!--header section  -->
<header>
  <div class="hero-banner">
    <div class="container hero">
      <h1 class="hero-title">Inspiration, Innovation and Discovery.</h1>
      <p class="hero-text">
        Any successful career starts with good education. Together with us you
        will have deeper knowledge of the subjects that will be especially
        useful for you when climbing the career ladder.
      </p>
      <!-- <a href="#" class="btn--white">Sign up for a free tour</a> -->

      <a href="#" mat-stroked-button>Sign up for a free tour</a>

      <a href="#" mat-stroked-button class="btn--hidden">learn more</a>
    </div>
  </div>
</header>
