<!-- section title -->
<div class="container">
  <div class="row my-5 text-center">
    <div class="section-title mx-auto text-capitalize">
      <h1><strong>statistics</strong></h1>
      <div class="title-underline mt-3 mx-auto"></div>
    </div>
  </div>
</div>

<!-- end of section title -->
<section class="py-3">
  <div class="container">
    <div class="row text-center">
      <!-- single column -->
      <div class="col-md-3 col-sm-6">
        <div class="counter-item">
          <div class="mb-3 counter-icon">
            <span><i class="fas fa-graduation-cap fa-3x"></i></span>
          </div>

          <h3 class="count-down">
            <span class="counter">{{ counterUp }}</span> <span>%</span>
          </h3>
          <p class="counter-text">Graduates</p>
        </div>
      </div>
      <!-- end of single column -->
      <!-- single counter -->
      <div class="col-md-3 col-sm-6">
        <div class="counter-item">
          <div class="mb-3 counter-icon">
            <span><i class="fas fa-briefcase fa-3x"></i></span>
          </div>
          <h3 class="count-down">
            <span class="counter">{{ counter }}</span> <span>+</span>
          </h3>

          <p class="counter-text">Certified Teachers</p>
        </div>
      </div>
      <!-- end of single counter -->
      <!-- single column -->
      <div class="col-md-3 col-sm-6">
        <div class="counter-item">
          <div class="mb-3 counter-icon">
            <span><i class="fas fa-building fa-3x"></i></span>
          </div>

          <h3 class="count-down"><span class="counter">2</span></h3>
          <p class="counter-text">Student Campuses</p>
        </div>
      </div>
      <!-- end of single counter -->
      <!-- single column -->
      <div class="col-md-3 col-sm-6">
        <div class="counter-item">
          <div class="mb-3 counter-icon">
            <span><i class="fas fa-user fa-3x"></i></span>
          </div>

          <h3 class="count-down">
            <span class="counter">3200</span> <span>+</span>
          </h3>
          <p class="counter-text">Students</p>
        </div>
      </div>
      <!-- end of single column-->
    </div>
  </div>
</section>
