<!-- section title -->
<div class="container">
  <app-title>Team Members</app-title>
  <!-- end of section title -->
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of items">
      <div class="text-center">
        <div class="row">
          <div class="col-md-6" *ngFor="let card of items">
            <div class="our-team">
              <div class="img mb-5">
                <img
                  src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg"
                  class="img-fluid img-thumbnail rounded-circle"
                  alt="image1"
                />
                <div class="content">
                  <h4>{{ card.title }}</h4>
                  <p class="text-muted">{{ card.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
