<mat-toolbar
  class="navbar"
  (scroll)="onscroll()"
  [ngClass]="navbarfixed ? 'fixed' : 'nofixed'"
>
  <span class="text"><a href="#" target="_blank">info@adust.edu.bd</a> </span>
  <span class="button">
    <a href="#" mat-raised-button>Sign in/Register</a>
  </span>
</mat-toolbar>

<!-- navbar End-->
<!-- logo section -->
<div id="logo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <img
          src="assets/adust-logo-1-removebg-preview.webp"
          class="img-fluid align-self-center"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
