<div (scroll)="onscroll()">
  <mat-toolbar class="navbar" [ngClass]="navbarfixed ? 'fixed' : 'nofixed'">
    <span class="text">info@adust.edu.bd</span>
    <span class="button">
      <a mat-raised-button>Sign in/Register</a>
    </span>
  </mat-toolbar>
</div>

<!-- navbar End-->
<!-- logo section -->
<div id="logo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <img
          src="assets/adust-logo-1-removebg-preview.webp"
          class="img-fluid align-self-center"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<!-- end of logo section -->
