/* Nav Section */

.navbar {
  background-color: #273c75;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 0.3s linear;
  top: 0;
  left: 0;
}
.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}
.text {
  font-size: 1rem;
  color: #fff;
}
.mat-raised-button {
  color: #fff;
  background: #273c75;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .navbar {
    align-items: flex-start !important;
    padding: 4px 24px !important;
    flex-direction: unset !important;
  }
  .text {
    font-size: 0.8rem;
  }
}

#logo {
  background: #ffffff;
  text-align: center;
  width: 100%;
}
#logo img {
  width: 85%;
  min-height: auto;
}
