<!-- section title -->
<div class="container">
  <app-title>Statistics</app-title>
</div>

<!-- end of section title -->
<section class="py-3">
  <div class="container">
    <div class="row text-center">
      <!-- single column -->
      <div class="col-md-3 col-sm-6" *ngFor="let counter of counters | async">
        <div class="counter-item">
          <div class="mb-3 counter-icon">
            <span><i class="fas fa-graduation-cap fa-3x"></i></span>
          </div>

          <h3 class="count-down">
            <span class="counter">{{ counter.total }}</span> <span>+</span>
          </h3>
          <p class="counter-text">{{ counter.title }}</p>
        </div>
      </div>
      <!-- end of single column -->
    </div>
  </div>
</section>
