/* counter section */

.counter-icon {
  color: #0d2d62;
}
.count-down {
  color: #b80924;
  font-size: 2rem;
  font-weight: bold;
}
.counter-text {
  font-size: 1rem;
}

.review-img {
  width: 150px;
}
