<section>
  <div id="about" class="mt-5 py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-7">
          <!-- text for about -->
          <h1 class="w-100 text-dark font-weight-bold">
            A Few Words<br />
            About the University
          </h1>
          <div class="title-underline mb-4 mt-3"></div>
          <p class="text-secondary">
            The vision of ADUST is multi-faceted and multifarious. ADUST looks
            beyond stereotypical periphery. It seeks to keep pace with the
            fleeting time and technological advancement. Creation of new jobs
            and invention of new methods of learning are its principal dream. It
            strives to impart future-proof education to its pupils. ADUST
            believes that without sound knowledge in any discipline, all-out
            progress will not be achievable. It wishes to employ its total means
            and energy to root out the curse of unemployment and prevent social
            regression. ADUST visualizes attaining of social and economic
            emancipation, removing gender disparity and producing befitting
            employments for its students. ADUST dreams of better and sustainable
            future for the whole nation.
          </p>
        </div>
        <!-- picture for about -->
        <div class="col-md-6 col-lg-4 about-img pt-5">
          <img
            src="assets/Nasir-Uddin_CSE.webp"
            class="image-fluid"
            alt="about"
          />
          <h4 class="font-weight-bold">Prof. Dr. Mohammed Nasir</h4>
          <p class="text-secondary">
            Advisor <br />Department of CSE at ADUST.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
