<div class="container">
  <app-title>Event</app-title>
  <div class="event-container">
    <div class="row">
      <div class="col-md-6 mx-auto" *ngFor="let event of events">
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">{{ event.startDate | date: "d" }}</div>
              <div class="month">{{ event.startDate | date: "MMMM" }}</div>
            </div>
          </div>

          <div class="event-right">
            <h3 class="event-title">{{ event.title }}</h3>

            <div class="event-description">{{ event.description }}</div>

            <div class="event-timing">
              <p>{{ event.startDate | date: "shortTime" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
