/* Event Calender */

.event-container {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
.event-container h1 {
  font-family: "Allura", cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}
.event-container h3.year {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #0d2d62;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}
.event .event-left .date {
  font-size: 56px;
}

.event .event-left .month {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.7rem;
  width: 345px;
}

.event .event-right h3.event-title {
  font-size: 1.2rem;
  margin: 24px 0 10px 0;
  color: #218bbb;
  text-transform: uppercase;
}
.event .event-right .event-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12rem;
}
.event .event-right .event-timing {
  background: rgb(231, 226, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing p {
  text-align: center;
  margin: auto;
}
.event .event-right .event-group {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.event .event-right .event-group .mat-icon {
  position: absolute;
  bottom: 40%;
  right: 0;
}
.event .event-right .event-group .mat-icon {
  /* margin: 0 auto; */
  margin-top: 2rem;
}
.content:hover {
  transform: scaleY(1.2);
  transition: all 0.2ms;
}
@media screen and (max-width: 400px) {
  .event-container .event {
    flex-direction: column;
    align-content: center;
  }
  .event .event-left {
    border-radius: 8px 8px 0 0;
  }
  .event .event-right .event-group {
    width: 90%;
  }
}
@media screen and (max-width: 350px) {
  .event .event-right {
    width: 305px;
  }
}
