<section>
  <div id="about" class="mt-3 py-2">
    <div class="container">
      <div class="row">
        <!-- picture for about -->
        <div class="col-md-6 col-lg-4 about-img">
          <img src="assets/logo.webp" class="image-fluid" alt="about" />
        </div>
        <div class="col-md-6 col-lg-8 pt-3">
          <p class="text-secondary">
            ADUST greatest resource in fulfilling its mission is its faculty of
            about 300 distinguished scholars and educators, whose scholarly
            research experiences and teaching skills enrich the students’
            classroom environment. To ensure quality education, ADUST is
            equipped with modern infrastructural facilities, latest academic
            curricula, Internet with Wi-Fi facility, air-conditioned classrooms,
            and seminar halls supported with multi-media, rich libraries, most
            sophisticated laboratories, students’ cafeterias, standby
            generators, etc. The students of ADUST experience a vibrant
            university community with a diverse range of academic offerings and
            about 6,500 participating students.
          </p>
          <a href="#" mat-stroked-button class="btn--hidden">learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
